<div class="general">

  <header class="header-area">
    <h1>Nya Games</h1>
    <h3>Fun with <span class="crossed-out"> flags </span> kittens</h3>
  </header>

  <div class="title-game">
    <h2>Three in a Row</h2>
    <img id="devil-cat" [ngClass]="{'devil-cat': currentPlayer === 'X'}" src="assets/game/devil-cat-30.png">
    <img id="god-cat" [ngClass]="{'god-cat': currentPlayer === '0'}" src="assets/game/god-cat-30.png">
  </div>

  <section>
    <div class="container-board">
      <!-- Genera el tablero de 3x3 dinámicamente usando NgFor. Itera sobre cada fila del tablero (board) -->
      <div class="row" *ngFor="let row of board; let rowIndex = index">
        <!-- Itera sobre cada celda dentro de la fila y llama a makeMove() al hacer clic en la celda -->
        <div (click)="makeMove(rowIndex, colIndex)" class="cell" *ngFor="let cell of row; let colIndex = index">
        {{board[rowIndex][colIndex]}}  <!-- Muestra el valor de la celda ('X', 'O' o vacío) -->
        </div> 
        
       

      </div>
    </div>

    <div class="winner">
      <h2>Winner: {{winner}}  {{draw}}</h2>
      <button class="btn-reset" (click)="resetGame()">Reset</button>
    </div>

  </section>

</div>

<router-outlet /> 
