body{
    background-image: url("./assets/img/kittens.jpg");
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style: none;
    text-decoration: none;
}
